#first-btn:hover{
    background-color: #f37cb7;
}
.hover-bold-br:hover {
    box-shadow: 3px 3px 0px 1px black;
  }
  .hover11-bold-br:hover{
    box-shadow: 3px 3px 0px 1px black;
}
.scroll-smooth {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}